*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-size:62.5%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    min-height: 100vh;
}

header{
    display: flex;
    font-size: 2rem;
    min-height: 20vh;
    font-family: 'Poppins', sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
}

form input {
  /* padding: 0.5rem 0rem 0.5rem 0rem; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  background: white;
  outline: none;
  width:  min(20rem, 55%) ;
  
  
  
}

form button {
  padding: 0.5rem;
  border: none;
  background: white;
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}


.select {
    margin: min(1rem,1%);
    position: relative;
    overflow: hidden;
    
  }

select {
    color: #ff6f47;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
   
    
    padding: 0.35rem 1.05rem 0.35rem 0rem;
   
  
    border: none;
    outline: none;
    
}

  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.575rem 0.5rem 0.575rem 0.5rem;
   
    background: #ff6f47;
    cursor: pointer;
    pointer-events: none;
  }

.todo-list{
    display: flex;
    flex-flow: column wrap;
  padding-left: 0px;
    align-items: center;
    justify-content: center;
    
}

.todo{
      display: flex;
      width:  min(30rem, 90%) ;
      margin: 0.5rem;
      height: 2.5rem;
      padding: 1rem;
      background-color: white;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      transition: all 0.5s ease-in;
  }


  .todo li{
      flex: 1;
  }

  .todo .checkbtn, .deltebtn{
    height: rem;
    
      color: white;
      margin: 0.1rem;
  }

  .checkbtn{
      background-color: green;
  }

  .deltebtn{
      background-color: black;
  }


  .completed{
    text-decoration: line-through;
    opacity: 0.5;
    
  }

  .delete{
    transform: translateY(10rem) rotateY(45deg);
  }

.fa-trash,
.fa-check {
  pointer-events: none;
}

